@page "/inventarioArticulos"


@inject AuthenticationStateProvider Authentication

@inject IToastService Toast

@using BLL

<EditForm Model="articulo" OnValidSubmit="Actualizar">
    <DataAnnotationsValidator />

    <div class="card shadow-lg">

        <div class="card">

            <p />
            <div class="card-header rz-border-radius-4 shadow text-center">
                <h4>
                    Inventario
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-box-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.004-.001.274-.11a.75.75 0 0 1 .558 0l.274.11.004.001 6.971 2.789Zm-1.374.527L8 5.962 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339Z" />
                    </svg>
                </h4>
            </div>

            <div class="card-body">
                <div class="row">
                   
                <div class="input-group d-flex align-items-end">

                    <div class="form-group col-md-2.5">
                        <label>Filtro</label>
                        <InputSelect class="form-select text-14" @bind-Value="Filtro">
                            <option value="0" disabled selected>Seleccione un filtro</option>
                            <option value="1">Codigo</option>
                            <option value="2" disabled selected>Categoria</option>
                            <option value="3" disabled selected>Descripción Articulo</option>
                        </InputSelect>
                    </div>

                    <div class="Form-group col-3">
                        <label>Criterio</label>
                        <InputText class="form-control" @bind-Value="Criterio"
                                   placeholder="Ingrese el criterio de busqueda"/>
                    </div>

                    <button type="button"  class="btn btn-consulta" @onclick="Buscar" title="Buscar articulo" >
                        <i class="oi oi-grid-four-up mr-2"/>
                    </button>
                </div>
                    
                    <p />


                    <div class="form-group col-3">
                        <label>Descripción Articulo</label>
                        <InputText @bind-Value="articulo.Nombre" placeholder="Descripción articulo" class="form-control"
                            readOnly="true" />
                    </div>

                    <p />
                    <p />
                    <hr>

                    <table
                        class="justify-content-center shadow 4 rz-border-radius-4 table table-light table-striped table-bordered">
                        <thead class="thead">
                            <tr class="text-center justify-content-center table bg-inventariocolor">

                                <th class="border border-3">Código de barra</th>

                                <th class="border border-3">Descripción Articulo</th>

                                <th class="border border-3">Cantidad</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (ArticuloList is not null){
                            @foreach (var item in ArticuloList)
                            {
                                if (Criterio == item.ArticuloId.ToString())
                                {
                                    <tr class="text-center ">
                                        <td class="border border-3">@item.ArticuloId</td>

                                        <td class="border border-3">@item.Nombre</td>

                                        <td class="border border-3">@item.CantidadRegistrada</td>
                                    </tr>
                                }
                            }
                            }
                        </tbody>
                    </table>
                    <hr />
                    <p />

                    <label>Nueva Cantidad <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                            fill="currentColor" class="bi bi-boxes" viewBox="0 0 16 16">
                            <path
                                d="M7.752.066a.5.5 0 0 1 .496 0l3.75 2.143a.5.5 0 0 1 .252.434v3.995l3.498 2A.5.5 0 0 1 16 9.07v4.286a.5.5 0 0 1-.252.434l-3.75 2.143a.5.5 0 0 1-.496 0l-3.502-2-3.502 2.001a.5.5 0 0 1-.496 0l-3.75-2.143A.5.5 0 0 1 0 13.357V9.071a.5.5 0 0 1 .252-.434L3.75 6.638V2.643a.5.5 0 0 1 .252-.434L7.752.066ZM4.25 7.504 1.508 9.071l2.742 1.567 2.742-1.567L4.25 7.504ZM7.5 9.933l-2.75 1.571v3.134l2.75-1.571V9.933Zm1 3.134 2.75 1.571v-3.134L8.5 9.933v3.134Zm.508-3.996 2.742 1.567 2.742-1.567-2.742-1.567-2.742 1.567Zm2.242-2.433V3.504L8.5 5.076V8.21l2.75-1.572ZM7.5 8.21V5.076L4.75 3.504v3.134L7.5 8.21ZM5.258 2.643 8 4.21l2.742-1.567L8 1.076 5.258 2.643ZM15 9.933l-2.75 1.571v3.134L15 13.067V9.933ZM3.75 14.638v-3.134L1 9.933v3.134l2.75 1.571Z" />
                        </svg></label>
                    <div class="form-group col-2">
                        <InputNumber @bind-Value="articulo.CantidadAumentada" class="form-control bg-fondoinventario"/>
                    </div>
                    <p />

                   


                    <div class="from-group col-2" style="margin:auto">
                        <InputNumber @bind-Value="articulo.CantidadRegistrada" class="form-control" readOnly="true" />
                    </div>

                    <div class="form-group col" style="margin:auto">
                        <button type="button" class="btn btn-consulta shadow" @onclick="Actualizar" title="Actualizar cantidad">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor"
                                class="bi bi-hammer" viewBox="0 0 16 16">
                                <path
                                    d="M9.972 2.508a.5.5 0 0 0-.16-.556l-.178-.129a5.009 5.009 0 0 0-2.076-.783C6.215.862 4.504 1.229 2.84 3.133H1.786a.5.5 0 0 0-.354.147L.146 4.567a.5.5 0 0 0 0 .706l2.571 2.579a.5.5 0 0 0 .708 0l1.286-1.29a.5.5 0 0 0 .146-.353V5.57l8.387 8.873A.5.5 0 0 0 14 14.5l1.5-1.5a.5.5 0 0 0 .017-.689l-9.129-8.63c.747-.456 1.772-.839 3.112-.839a.5.5 0 0 0 .472-.334z" />
                            </svg> <span>Actualizar</span>  
                        </button>

                        <a data-toggle="tooltip"
       data-placement="right" title="Realizar reorden" href="reorden" class="stretched-link text-consulta" style="position: absolute; top:0; right:0; margin-right: 20px; margin-top: 510px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-chat-left-text" viewBox="0 0 16 16">
                                <path
                                    d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                <path
                                    d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                            </svg>

                            Deseas realizar un reorden de articulos?

                        </a>

                    </div>
                    <p/>

                </div>
            </div>

        </div>
    </div>
</EditForm>



@code {

#nullable disable // Para quitar el aviso de nulls

    [Parameter]
    public int ArticuloId { get; set; }

    public string Filtro ="0";

    public string Criterio = string.Empty;

    //-----------------------------------
    Articulo articulo = new Articulo();

    public double CantidadAumentada { get; set; }

    public double CantidadRegistrada { get; set; }

    public string Nombre { get; set; }

    public double cantidadalmacenada { get; set; }

    List<Articulo> ArticuloList = new List<Articulo>();

    [Inject]
    public ArticuloBLL articuloBLL { get; set; } // Inyectando BLL


    //-----------------------------------------------------------------------

    protected override void OnInitialized()
    {
        articulo = new Articulo();
        ArticuloList = articuloBLL.GetList(c => true);
        
       
 
       if (ArticuloId > 0)
        {
            articulo.ArticuloId = ArticuloId;
            this.Buscar();
        }
        
    }

     private void ActualizandoUnidadesArticulo()
    {
        Articulo auxArticulo = articuloBLL.Buscar(int.Parse(Criterio));

        if (auxArticulo != null)
        {
            
            
           articulo.CantidadRegistrada = articulo.CantidadAumentada + auxArticulo.CantidadRegistrada;
            
        }
    }


    public void Actualizar() // Guardar articulo
    {
        

        if (Nombre == string.Empty)
        {
            Toast.ShowWarning("Clic en el boton consultar");
            return;
        }
        if (articulo.CantidadAumentada == 0)
        {
            Toast.ShowWarning("Ingrese la cantidad que desea aumentar");
            return;
        }

        if (articulo.CantidadRegistrada == 0)
        {
            Toast.ShowWarning("Consulte el articulo");
            return;
        }


        var articulo2 = articuloBLL.Guardar(articulo); ;

        
        if (articulo2)
        { 

             Articulo auxArticulo = articuloBLL.Buscar(int.Parse(Criterio));

        if (auxArticulo != null)
        {
            articulo.ArticuloId = auxArticulo.ArticuloId;
            articulo.Nombre = auxArticulo.Nombre;
            articulo.CantidadRegistrada = auxArticulo.CantidadRegistrada;
           ActualizandoUnidadesArticulo();
            articulo = new Articulo();
    
            Toast.ShowSuccess("Articulo actualizado");
        }
        else
        {
            articulo2 = false;
            Toast.ShowWarning("Ha ocurrido un error");
        }
            
        }
            
            
    }

   

    public void Buscar(){

     Articulo auxArticulo = articuloBLL.Buscar(int.Parse(Criterio));

        if (auxArticulo != null)
        {
            
            articulo.Nombre = auxArticulo.Nombre;
            articulo.CantidadRegistrada = auxArticulo.CantidadRegistrada;
            
           
            
        }
    }
}

