######################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio Code. #
######################################################################################

/GestionObras.Api/obj/**
/GestionObras.Api/bin/**
/GestionObras.Api/.vs/**